{% extends 'base.html' %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class="container">
    <h1>Admin Dashboard</h1>
    <form method="POST" action="{{ url_for('admin.admin_dashboard') }}">
        <button type="submit">Generate Test Orders</button>
    </form>
    <a href="{{ url_for('admin.create_user') }}">
        <button>Create User</button>
    </a>
    <a href="{{ url_for('auth.logout') }}">
        <button>Logout</button>
    </a>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
